<main>
  <h1>Your Order</h1>
  <main>
    {{#if hasOrders}}
      <ul class="orders">
        {{#each orders}}
          <li class="orders__item">
            <h1>Order - #{{this._id}} </h1>
            {{#each this.products}}
              <ul class="orders__products">
                <li
                  class="orders__products-item"
                >{{this.product.title}}({{this.quantity}})

                  <a href="/orders/{{ ../this._id }}"> Print Invoice </a>
              </ul>
            {{/each}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <h1>No Order !</h1>
    {{/if}}
  </main>
</main>