<main>
    <h1>Checkout</h1>
    <main>
    {{#if hasProducts}}
        <ul class="cart__item-list">
            {{#each products}}
                <li class="cart__item">
                    <h1>{{ this.productId.title }} </h1>
                    <h2>Quantity : {{ this.quantity }}</h2>
                </li>
            {{/each}}
        </ul>
        <hr>
        <div class="centered">
            Total : {{ totalSum }}
        </div>
        <div class="centered">
            <button id="order-btn" class="btn">ORDER</button>
            <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe("pk_test_51HgrqzHuzZ2rCOodKKpNOUmomal6GLWGnieH8HFN2d8WraK5hLcWpkb0UOcrj3yE75hiWVIUIKrpgCNPaM23iga200RXgAAdVa");
                var orderBtn = document.getElementById("order-btn");

                orderBtn.addEventListener('click', function(){
                    stripe.redirectToCheckout({
                        sessionId: '{{sessionId}}'
                    })
                })
            </script>
        </div>
        
    {{else}}
        <h1>No Products Found in Checkout !</h1>
    {{/if}}
    </main>
</main>
