
<main>
    <form class="product-form" action="/admin/edit-product" method="POST">
        <input type="hidden" name="id" id="id" value="{{ product.id }}">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value={{ product.title }}>
        </div>
        <div class="form-control">
            <label for="imageUrl">Image Url</label>
            <input type="text" name="imageUrl" id="imageUrl" value={{ product.imageUrl }}>
            <img src={{ product.imageUrl }} alt="" width="300" height="200" style="object-fit: cover;">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" value={{ product.price }}>
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="descripton" rows="5">{{ product.description }}</textarea>
        </div>

        <button type="submit">Update Product</button>
    </form>
    <hr>
</main>