<main>
    <h1>Welcome to my Dashboard</h1>

    {{#if hasProducts}}
        <div class="grid">
            {{#each prods}}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                            {{ this.title }} 
                        </h1>
                        <div class="card__image">
                            <img src="{{ this.imageUrl }}" alt="product image">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$ {{ this.price }}</h2>
                            <p class="product__description">{{ this.description }}</p>
                        </div>
                        {{!-- use ../ before the value if it is an external value --}}
                        {{#if ../isAuthenticated }}
                            <div class="card__actions">
                                {{> addCartBtn product=this token=../csrfToken }}
                            </div>
                        {{/if}}
                    </header>
                </article>
            {{/each}}
        </div>
        {{> pagination }}
    {{else}}
        <h1>No Products Found</h1>
    {{/if}}
</main>